
.auth {
  margin: 0 auto;
  width: 50%;
  padding-top: 2%;
  font-family: 'Lato', sans-serif;
  border-radius: 20px;

  .chatText {
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text3 {
    margin-left: 15%;

  }

  button {
    border-radius: 30px;
    background-color: #0483aa;
    color: white;
    padding: 16px 20px;
    margin-left: 25%;
    margin-top: 4%;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  input[type=text], input[type=password] {
    width: 70%;
    padding: 15px;
    margin-left: 15%;
    margin-bottom: 3%;
    display: inline-block;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;

    &:focus {
      background-color: #ddd;
      outline: none;
    }
  }
}

#error {
  background-color: #da6363;
  color: white;
  padding: 5px;
  margin-bottom: 10px;
  margin-left: 25%;
  border-radius: 5px;
  width: 50%;

}

.account {
  margin-top: 15px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text1 {

  display: flex;
  align-items: center;
  justify-content: center;
}

.text2 {

  display: flex;
  align-items: center;
  justify-content: center;
}