#area {
  display: inline-flex;
  width: 100%;
  height: 100vh;
}

#mess_area {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: 1px solid #e1e1e1;

  #header {
    display: flex;
    padding: 10.5px;
    font-size: 24px;
    color: #000000;
    background-color: #ffffff;
  }

  #exit {
    margin-left: auto;
    width: 80px;
    height: 20px;
    border: 1px solid #545454;
    border-radius: 25px;

    &:active {
      border: 2px solid #ff0000;
      background-color: #de7373;
      color: white;

    }
  }
}

#messages {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #8ec3f6;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(142, 195, 246, 1) inset;
  background-color: #8ec3f6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: (rgba(23, 23, 23, 0.36));
  border: 1px solid rgba(105, 105, 105, 0.68);
}

#controls {
  display: flex;
  padding: 8px;
  background-color: #ffffff;
  color: #000000;

  &.hidden {
    display: none;
  }

  input {
    border: none;
    margin-right: 8px;
    flex: 1;
    background-color: #ffffff;
    color: #000000;
    outline: 0;
  }
}

.message {
  padding: 4px;
  border-radius: 4px;
  margin-bottom: 4px;
  background-color: #ffffff;

  &.my-message {
    margin-left: auto;
  }

  .text {
    font-size: 16px;
    color: #000000;
  }
}

#users {
  width: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #ffffff;

  .user {
    cursor: pointer;
    padding: 8px;
    background-color: #ffffff;
    color: #000000;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &.active {
      background-color: #6c9ee1;
      color: white;
    }

    .name {
      font-size: 18px;
      font-weight: bold;
    }

    .login {
      font-weight: lighter;
      font-size: 12px;
    }
  }
}

#send_button {
  border: 1px solid #ffffff;
  border-radius: 25px;

  &:active {
    background-color: #3f88dc;
    color: white;

  }
}
