* {
  box-sizing: border-box;
}

#area {
  display: inline-flex;
  width: 100%;
  height: 38.5em;
}

#mess_area {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: 0 14px 14px 0;

  #header {
    padding: 12px;
    border-bottom: 2px solid black;
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0 13px 0 0;
  }
}

#messages {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(0, 1, 0, 0.8);
}

#messages::-webkit-scrollbar {
  width: 10px;
}

#messages::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}

#messages::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #f87f71, #fdc0b7);
}

#controls {
  display: flex;
  padding: 8px;
  border-top: 2px solid black;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0 0 13px 0;
  color: white;

  &.hidden {
    display: none;
  }

  input {
    margin-right: 8px;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 13px;
    border: 1px solid black;
  }
}

.message {

  padding: 4px;
  border-radius: 4px;
  margin-bottom: 4px;
  background-color: grey;

  .user {
    font-size: 14px;
    color: white;
  }

  .text {
    font-size: 16px;
    color: white;
  }
}

#users {
  width: 400px;
  border: 1px solid black;
  border-radius: 14px 0 0 14px;

  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.6);

  .user {
    cursor: pointer;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;

    &:not(:last-child) {
      border-bottom: 1px solid grey;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &.active {
      background-color: lightseagreen;
    }

    .name {
      font-size: 18px;
      font-weight: bold;
    }

    .login {
      font-weight: lighter;
      font-size: 12px;
    }
  }
}

#send_button {
  border: 1px solid darkgrey;
  border-radius: 25px;

  &:active {
    background-color: salmon;
  }
}
